/* ==== CONTENT STYLE ==== */

body {
  background-color: #ffffcc;
}

dt, dd {
  color: #000066;
  font-family: "Nunito Sans", sans-serif;
  font-style: oblique;
}

dt {
  font-size: 2.5rem;
  padding: 12px;
}

dd {
  font-size: 1.1rem;
}

/* === BY 06ATI69 ===*/